<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shoes</title>
    <style>
        .element{
            border: 2px solid red;
            width: 60%;
            background-color: aquamarine;
            height: 400px;
            margin: auto;
            margin-bottom: 50px;
        }
        .boximg{
           
            width: 60%;
            color: aliceblue;
            height: 100px;
            margin: 10px auto;
            background-color: rgb(67, 41, 211);
        }
        .info{
            margin: auto auto;
        }
    </style>
</head>
<body>
    <h1>here is the list</h1>

   <% for(let item of result){ %>
        <div class="element">
            <div class="img"> <div class="boximg">image here</div></div>
            <div class="info">
                <h2>name -------------<%=item.name%></h2>
                <h3>company------<%=item.company%></h3>
                <h3>cost---------<%=item.cost%></h3>
                <h3>size--------<%=item.size%></h3>
                <h3>stock------<%=item.stock%></h3>
                <h3>category------<%=item.category%></h3>
            </div>
        </div>
    <%}%>
    
</body>
</html>